# Web server dependencies
gunicorn
flask
jinja2

# Computer Vision
opencv-python
Pillow

# ML & Deep Learning
torch==2.4.1
torchvision==0.19.1
numpy
scipy

# Data Handling
PyYAML
requests
matplotlib

# Progress bar (fixing `toda`)
tqdm
